.container{
    max-width: 1366px;
    margin: 0 auto;
}
.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12{
    float: left;
    margin: 0.5%;
}
.row{
    clear: both;
    display: flex;
    min-height: 10px;
}
.col-1{width: 7.335%;}
.col-2{width: 15.668%;}
.col-3{width: 24%;}
.col-4{width: 32.335%;}
.col-5{width: 40.668%;}
.col-6{width: 49%;}
.col-7{width: 57.335%;}
.col-8{width: 65.668%;}
.col-9{width: 74%;}
.col-10{width: 82.335%;}
.col-11{width: 90.668%;}
.col-12{width: 99%}